allow thermal-engine socket_device:sock_file { create setattr unlink };
allow thermal-engine thermal_device:chr_file rw_file_perms;
allow thermal-engine self:capability { dac_read_search dac_override fsetid chown };

